@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
body {
  background-color: #222;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  margin: 30px;
}